<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:name=".activity.MyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".activity.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activity.CheckoutScreen"
            android:exported="false" />
        <activity
            android:name=".activity.CartScreen"
            android:exported="false" />
        <activity
            android:name=".activity.ProductDetailScreen"
            android:exported="false" />
        <activity
            android:name=".activity.ProductListingScreen"
            android:exported="false" />
        <activity
            android:name=".activity.WishlistScreen"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="YOUR_GOOGLE_MAPS_API_KEY" />

        <activity
            android:name=".activity.GstVerifyScreen"
            android:exported="false" />
        <activity
            android:name=".activity.AccountScreen"
            android:exported="false" />
        <activity
            android:name=".activity.OrdersActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SetupStepsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DeliveryAddressActivity"
            android:exported="false" />
        <activity
            android:name=".activity.BusinessDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.OwnerDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.LoginPage"
            android:exported="false" />
        <activity
            android:name=".activity.Otp_Screen"
            android:exported="false"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".activity.OnboadingScreen"
            android:exported="false" />
        <activity
            android:name=".activity.PaymentActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.AddressActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyApplication">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>